@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(185, 41%, 84%);
    --foreground: hsl(183, 100%, 15%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: small;
}

input {
  color: hsl(183, 100%, 15%);
  background-color:  hsl(189, 47%, 97%);
  font-size: 24px;
  text-align: end;
}
